            body {
                margin: 20px;
                padding: 10px;
                background-color: gray;
            }
            
            .box {
                background-color: aliceblue;
                padding: 10px;
                box-sizing: border-box;
                border: 2px solid black;
                border-radius: 10px;
                height: 85vh;
                width: 30vw;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
            .nav1 {
                display: inline-block;
                box-sizing: border-box;
                border: 1px solid rgb(4, 4, 4);
                border-radius: 20px;
                position: relative;
                left: 12px;
            }
            
            img {
                box-sizing: border-box;
                border: 2px solid antiquewhite;
                /* padding: 9px; */
                border-radius: 20px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            
            footer {
                text-align: center;
                display: inline;
                border: 2px solid rgb(91, 249, 249);
                background-color: rgb(91, 249, 249);
                color: rgb(6, 204, 204);
                position: relative;
                left: 130px;
                border-radius: 10px;
            }